<!DOCTYPE html>
<html>
  <head>
    <title>Gogofestival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to root_path do %>
          <span><%= image_tag "IMG_6869__1_-removebg-preview.png", class: "navbar-brand" %></span>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to "#" do %>
                <i class="fa-solid fa-user fa-3x" aria-hidden="true" ></i>
              <% end %>
            </li>
            <li>
              <%= link_to new_topic_path do %>
                <i class="fa-solid fa-file-pen fa-3x" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to favorites_index_path do %>
                <i class="fa-regular fa-thumbs-up fa-3x"></i>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket fa-3x"></i>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_path do %>
                <i class="fa-solid fa-user fa-3x" ></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa-solid fa-magnifying-glass fa-3x"></i>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <i class="fa-solid fa-right-to-bracket fa-3x"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
